<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HeartoHelp Chat</title>
    <meta name="description" content="talk to a stranger to vent out">
    <meta name="author" content="Subhadip Mitra/Punctuated">

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
	<link rel="stylesheet/less" type="text/css" href="/static/css/styles.less">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/static/lib/less-1.1.5.min.js" type="text/javascript"></script>
    <script src="/static/lib/jquery-1.7.1.min.js" type="text/javascript"></script>
   
    
</head>
<body class="pagecontents">

    <div class="container">
      	<div class="content">
        	<div class="page-header">
	          	<h1>Thank You! For helping us keep H2H Clean.</h1>
	        </div> <!-- /page-header -->
      <div class="row">
        <div class="span4">
          <h2>Report Form</h2>
        </div>
        <div class="span12">
          <form id='Reportabuse' name='formAction'>
            <fieldset>
              
              <div class="clearfix">
                <label for="xlInput">What's this? </label>
                
                <div class="input">
                  <p>
			<span style="color:#808080;"><span style="font-size: 10px;">You are seeing this page because you clicked on the Red Dot next to a user&#39;s name. We encourage users to report trolls or any inappropriate behaviours. When you choose to Report an abuse your IP address and the reported Message will be logged. We will not share your IP Address publicly. Make sure you read more details below under &#39;More Info&#39; section.</span></span></p>
		<p>
			<br />
			<span style="color:#808080;"><span style="font-size: 10px;"><b>Need more help?</b> Email us at abuse@heartohelp.us</span></span></p>
                </div>
              </div>
              <div class="clearfix">
                <label for="xlInput">Reason (optional)</label>
                <div class="input">
                  <input class="xlarge" size="30" placeholder="If you would want to explain further" type="text">
                </div>
              </div>
              <div class="clearfix">
                <label for="xlInput">Follow me up</label>
                <div class="input">
                  <input class="xlarge"  size="30" placeholder="Enter your email ID" type="text">
                </div>
              </div>
              <div class="actions">
                <a style="text-align:center;" class="btn span3 primary" href="confirm">Submit Report</a>  <input style="text-align:center;" class="btn span3" value="Close" onclick="window.close();">
              </div>
            </fieldset>
          </form>
        </div>
        
			</div> <!-- /row -->
      <div class="row">
        <div class="span4">
          <h2>More Info</h2>
        </div>
				<div class="span12">
          <br/>
          <ul>
            <li>
              Abuse Reports are processed automatically.
            </li>
            <li>
              Your IP Address will be logged and are not shared.
            </li>
           <li>
              You may report once per user per room. 
            </li>
            <li>
              You may report upto 5 users, in one session. 
            </li>
				  </ul>
        </div>
      </div>
		</div> <!-- /content -->

		<footer>
			<p>&copy; GNU GPL 2013 For the CP Community. v4.2-b2</p>
		</footer>

	</div> <!-- /container -->
</body>
</html>
